* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div {
    float: left;
}
#title {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container {
    width: 400px;
    height: 400px;
}

.panel {
    width: 50%;
    height: 50%;
    border: 2px solid black;
}

.panel:first-child {
    border-top-left-radius: 100%;
}

.panel:nth-child(2) {
    border-top-right-radius:  100%;
}

.panel:nth-child(3) {
    border-bottom-left-radius: 100%;
}

.panel:nth-child(4) {
    border-bottom-right-radius: 100%;
}

#center_circle {
    background-image: radial-gradient(grey 20%, black);
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 134px;
    top: 210px;
    width: 150px;
    height: 150px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#center_circle_text {
    
}

#game_text {
    width: 400px;
}

#game_text form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.button {
    font-size: 2em;
    border: 1px solid green;
    border-radius: 50px;
    color: green;
    background-color: white;
    margin: 5px;
}

.button:disabled {
    border: 1px solid grey;
    color: grey;
}

td {
    text-align: center;
}